<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 ">
    <ul class="list-group vh-100 overflow-scroll" style="border: 1px solid #7952b3;">
      <li class="list-group-item ">An active item</li>
      <li class="list-group-item ">A second item</li>
      <li class="list-group-item ">A third item</li>
      <li class="list-group-item ">An active item</li>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9">
    <div class="row " >
      <img src="../../../../assets/picture/body.jpg" height="450" width="800"/>
      <p>THIS WORLD CLASS RESORT, FURAMA DANANG, REPUTABLE FOR BEING A CULINARY RESORT IN VIETNAM</p>
    </div>
  </div>
</div>
