<button type="button" class="btn btn-dark m-2" (click)="backToList()">Back to list</button>
<h1 class="text-danger text-center">Cập nhật thông tin bệnh án</h1>
<form [formGroup]="formGroup" (ngSubmit)="update()">
  <div class="row mb-2">
    <div class="offset-3 col-6 card p-2 bg-light">
      <div class="mb-3">
        <label for="maBenhAn" class="form-label">Mã Bệnh án: </label>
        <select class="form-select" formControlName="benhAn" [compareWith]="compareFn" id="maBenhAn">
          <option *ngFor="let item of benhAnList" [ngValue]="item">{{item.maBenhAn}}</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="maBenhNhan" class="form-label">Mã Bệnh Nhân: </label>
        <input type="text" class="form-control" disabled id="maBenhNhan" formControlName="maBenhNhan">
      </div>
      <div class="mb-3">
        <label for="tenBenhNhan" class="form-label">Ten Bệnh Nhân: </label>
        <input type="text" class="form-control" id="tenBenhNhan" formControlName="tenBenhNhan">
        <p class="text-danger" *ngIf="formGroup.controls.tenBenhNhan.hasError('required')"> Yeu cau phai nhap</p>
        <p class="text-danger" *ngIf="formGroup.controls.tenBenhNhan.hasError('pattern')"> Tên không được nhập số</p>
      </div>
      <div class="mb-3">
        <label for="ngayNhapVien" class="form-label">Ngày Nhập viện: </label>
        <input type="date" class="form-control" id="ngayNhapVien" formControlName="ngayNhapVien">
        <p class="text-danger" *ngIf="formGroup.hasError('invalidDate')"> Ngay nhap phai nho hon ngay ra vien</p>
        <p class="text-danger" *ngIf="formGroup.controls.ngayNhapVien.hasError('required')"> Yeu cau phai nhap</p>
        <p class="text-danger" *ngIf="formGroup.controls.ngayNhapVien.hasError('pattern')"> Sai dinh dang ngay thang</p>
      </div>
      <div class="mb-3">
        <label for="ngayRaVien" class="form-label">Ngày ra viện: </label>
        <input type="date" class="form-control" id="ngayRaVien" formControlName="ngayRaVien">
        <p class="text-danger" *ngIf="formGroup.controls.ngayRaVien.hasError('required')"> Yeu cau phai nhap</p>
        <p class="text-danger" *ngIf="formGroup.controls.ngayRaVien.hasError('pattern')"> Sai dinh dang ngay thang</p>
      </div>
      <div class="mb-3">
        <label for="lyDo" class="form-label">Lý do: </label>
        <input type="text" class="form-control" id="lyDo" formControlName="lyDo">
        <p class="text-danger" *ngIf="formGroup.controls.lyDo.hasError('required')"> Yeu cau phai nhap</p>
      </div>
      <div class="mb-3">
        <label for="phuongPhap" class="form-label">Phương Phap: </label>
        <input type="text" class="form-control" id="phuongPhap" formControlName="phuongPhap">
        <p class="text-danger" *ngIf="formGroup.controls.phuongPhap.hasError('required')"> Yeu cau phai nhap</p>
      </div>
      <div class="mb-3">
        <label for="bacSi" class="form-label">Bác Sĩ: </label>
        <input type="text" class="form-control" id="bacSi" formControlName="bacSi">
        <p class="text-danger" *ngIf="formGroup.controls.bacSi.hasError('required')"> Yeu cau phai nhap</p>
      </div>
      <div class="text-center">
        <button class="w-25 btn btn-success" type="submit">Lưu thông tin</button>
      </div>
    </div>
  </div>
</form>


